@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
list-style: none;
}

body{
  overflow-x: hidden;
}

.homeList{
  margin-bottom: 1.5rem;
}

.buttonAdd{
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background: #633974;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.buttonAdd img{
  width: 35px;
  height: 35px;
}

.buttonGraph{
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  background: #633974;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.buttonGraph img{
  width: 25px;
  height: 25px;
}
